<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增博客</title>
    <!--导入bootstrap-->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!--导入vue 引入element需要在vue之后 -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 引入样式element -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

</head>
<body>
<div id="app">
    <div style="margin-bottom: 20px">
        <el-card>
            <div style="width: 100% ;">
                <div align="center">
                    新增博客
                </div>
                <el-divider><i class="el-icon-s-promotion"></i></el-divider>

                <div style="margin-left: 180px">
                    <el-form label-width="80px">
                        <el-form-item label="博客标题">
                            <div style="width: 250px">
                                <el-input v-model="blog.title"></el-input>
                            </div>
                        </el-form-item>

                    </el-form>
                    <el-form label-width="80px" :inline="true">
                        <el-form-item label="项目分类">
                            <div style="width: 250px">
                                <!--  filterable 可搜索  ，multiple 可多选-->
                                <el-select style="width: 100%" filterable v-model="blog.tagName" placeholder="请选择">
                                    <el-option
                                            v-for="item in tagList"
                                            :key="item.id"
                                            :label="item.tagName"
                                            :value="item.id">
                                    </el-option>
                                </el-select>
                            </div>
                        </el-form-item>

                        <el-form-item>
                            <el-button type="primary" @click="addTagDialog = true">添加分类</el-button>
                        </el-form-item>
                    </el-form>

                    <el-form label-width="80px">
                        <el-form-item label="博客封面">
                            <div style="width: 350px">
                                <el-upload
                                        class="upload-demo"
                                        action="/api/upload"
                                        :on-preview="handlePreview"
                                        :on-remove="handleRemove"
                                        :on-success="onSuccessUpload"
                                        :file-list="fileList"
                                        :limit="1"
                                        list-type="picture">
                                    <el-button size="small" type="primary">点击上传</el-button>
                                    <div slot="tip" class="el-upload__tip">只能上传一张</div>
                                </el-upload>
                            </div>

                        </el-form-item>

                        <el-form-item label="博客描述">
                            <div style="width: 400px">
                                <el-input type="textarea" v-model="blog.blogDescribe"></el-input>
                            </div>
                        </el-form-item>

                        <el-form-item label="博客正文">
                            <div id="editor">
                                <p>欢迎使用 <b>wangEditor</b> 富文本编辑器</p>
                            </div>
                            <!--TODO 此处添加一个 text用于双向绑定文本内容-->
                            <el-input
                                    type="textarea"
                                    :rows="2"
                                    style="width:100%; height:200px;"
                                    id="text"
                                    placeholder="请输入内容"
                                    v-if="false"
                                    v-model="blog.content">
                            </el-input>
                        </el-form-item>

                        <el-form-item>
                            <el-button type="primary" @click="insertBlog">提交</el-button>
                        </el-form-item>
                    </el-form>
                </div>

                <el-divider><i class="el-icon-mobile-phone"></i></el-divider>
                <div align="center">Aze</div>
            </div>
        </el-card>
    </div>

    <!--弹窗模块-->
    <el-dialog
            title="新增分类"
            :visible.sync="addTagDialog"
            width="30%"
            center>
        <span></span>
        <el-form label-width="80px">
            <el-form-item label="分类名称">
                <div style="width: 250px">
                    <el-input v-model="tag.tagName"></el-input>
                </div>
            </el-form-item>

        </el-form>
        <el-button @click="addTagDialog = false">取 消</el-button>
        <el-button type="primary" @click="insertTag">确 定</el-button>
        </span>
    </el-dialog>

</div>
</body>
<style>
    div {
        font-size: 16px
    }
</style>
<!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
<script src="https://cdn.bootcss.com/wangEditor/3.1.1/wangEditor.js"></script>
<link href="https://cdn.bootcss.com/wangEditor/3.1.1/wangEditor.css" rel="stylesheet">

<script src="../static/js/jquery.min.js"></script>
<!--<script src="../static/js/bootstrap.min.js"></script>-->
<!--<script src="../static/js/modernizr.js"></script>-->

<script type="text/javascript">

    new Vue({
        el: '#app',
        data() {
            return {
                tagList: [],
                fileList:[],
                blog: {
                    title: '',
                    blogDescribe: '',
                    tagName: '',
                    content: '',
                    imageUrl:''
                },
                tag: {
                    tagName: ''
                },
                addTagDialog: false
            };
        },
        methods: {
            //获取博客标签
            //查询标签
            listTag() {
                var that = this;
                $.ajax({
                    type: 'GET',
                    url: '/api/tag/list',
                    success: function (data) {
                        that.tagList = data.data;
                    }
                })
            },
            insertTag() {
                var that = this;
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json;charset=UTF-8',
                    url: '/api/tag/insert',
                    data: JSON.stringify(that.tag),
                    success: function (data) {
                        if (data.code != 0) {
                            that.$message({
                                type: 'error',
                                message: '添加分类失败!'
                            });
                        } else {
                            that.addTagDialog = false;
                            that.$message({
                                type: 'success',
                                message: '添加分类成功!'
                            });
                            that.listTag();
                            that.tag.title = '';
                        }
                    }
                })
            },

            insertBlog() {
                var that = this;
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json;charset=UTF-8',
                    url: '/api/blog/insert',
                    data: JSON.stringify(that.blog),
                    success: function (data) {
                        if (data.code != 0) {
                            that.$message({
                                type: 'error',
                                message: '添加博客失败!'
                            });
                        } else {
                            that.$message({
                                type: 'success',
                                message: '添加博客成功!'
                            });
                            that.cleanBlog();
                        }
                    }
                })
            },

            //清除博客
            cleanBlog() {
                this.blog.title = '';
                this.blog.tagName = '';
                this.blog.content = '';
                this.blog.blogDescribe = '';
            },


            handleChange(){},

            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePreview(file) {
                console.log(file);
            },

            //上传完成后把图片地址给file
            onSuccessUpload(file) {
                if (file !== null) {
                    this.blog.imageUrl = file;
                    //console.log(file);
                    /*    this.$message({
                            type: 'success',
                            message: "1111"
                        });*/
                } else {
                    this.$message({
                        type: 'error',
                        message: "上传失败"
                    });
                    return false;
                }
            },

        },
        mounted() {
            //使用wangEditor富文本编辑器
            /*  var E = window.wangEditor
              var editor = new E('#editor')
              editor.create();*/
            var that = this;
            var E = window.wangEditor
            var editor = new E('#editor')
            editor.customConfig.zIndex = 100;
            var $text = $('#text')

            //将页面代码同步更新，到content；
            editor.customConfig.onchange = function (html) {
                // 监控变化，同步更新到 textarea
                $text.val(html);
                that.blog.content = html;
                // alert(that.blog.content);
                //获取纯文本
                // that.blog.content=editor.txt.text();
            }
            editor.create()
            // 初始化 textarea 的值
            $text.val(editor.txt.html())

        },
        created() {
            this.listTag();
        }
    })
</script>
</html>