<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客管理</title>
    <!--导入bootstrap-->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <!-- 引入样式element -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
        .title {
            margin-top: 20px;
            margin-left: 100px;
        }
    </style>
</head>
<body>
<div id="app" :style="styleObject">
    <el-row>

        <div style="margin-bottom: 20px;">
            <el-card style="height: 100%">
                <div style="width: 100% ;">
                    <div  align="center">
                        博客管理
                    </div>
                    <el-divider><i class="el-icon-s-promotion"></i></el-divider>
                </div>

                <div class="block">
                        <el-table
                                :data="blogList"
                                border
                                style="width: 90%">
                            <el-table-column
                                    prop="title"
                                    label="标题"
                                    width="200"
                                    v-show="false">
                            </el-table-column>
                            <el-table-column
                                    prop="imageUrl"
                                    width="200"
                                    label="封面">
                                <template slot-scope="scope">
                                    <el-image
                                            style="width: 120px;
                    height: 120px"
                                            :src=scope.row.imageUrl>
                                    </el-image>
                                </template>
                            </el-table-column>
                            <el-table-column
                                    prop="tagName"
                                    label="分类"
                                    width="180"
                                    v-show="false">
                            </el-table-column>
                            <el-table-column
                                    prop="blogDescribe"
                                    label="描述">
                            </el-table-column>

                            <el-table-column
                                    prop="isStick"
                                    label="项目状态"
                                    width="100"
                                    :filters="[{ text: '已置顶', value:  '已置顶' }, { text: '未置顶', value: '未置顶' }]"
                                    :filter-method="filterHandler"
                                    filter-placement="bottom-end">
                                <template slot-scope="scope">
                                    <el-tag
                                            :type="scope.row.isStick === '已置顶' ? 'success' : 'danger'"
                                            disable-transitions>{{scope.row.isStick}}</el-tag>
                                </template>
                            </el-table-column>
                            <el-table-column
                                    fixed="right"
                                    label="操作"
                                    width="250">
                                <template slot-scope="scope">
                                    <el-button  size="small" @click="projectShztOut(scope.row.shpbh)">编辑</el-button>
                                    <el-button  type="primary" size="small" @click="stickBlog(scope.row.id)">置顶</el-button>
                                    <el-button type="danger" size="small" @click="projectShztOut(scope.row.shpbh)">删除</el-button>

                                </template>
                            </el-table-column>
                        </el-table>

                </div>

                <div >
                    <el-divider><i class="el-icon-mobile-phone"></i></el-divider>
                    <div  align="center">Aze</div>
                </div>

            </el-card>
        </div>


    </el-row>

</div>

<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/modernizr.js"></script>
<!--导入vue-->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
</body>
<style>
    div {
        font-size: 16px
    }
</style>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                styleObject: {
                    height: '900px'
                },
                blogList:[]
            };
        },
        methods: {
            //初始化数据
            bindData () {
                var that = this;
                $.ajax({
                    type: 'GET',
                    url: '/admin/blog/list',
                    success: function (data) {
                        that.blogList = data.data;
                        /*循环便利将博客的置顶状态转义*/
                        for (var i = 0, len = that.blogList.length; i < len; i++) {
                            if (that.blogList[i].isStick == true){
                                that.blogList[i].isStick ="已置顶";
                            }else {
                                that.blogList[i].isStick ="未置顶";

                            }

                        }
                    }
                });
            },

            /*博客置顶*/
            stickBlog(id){
                var that = this;
                $.ajax({
                    type: 'POST',
                    url: '/admin/blog/stickBlog/' + id,
                    success: function (data) {
                        if (data.code != 0) {
                            that.$message({
                                type: 'error',
                                message: '置顶失败!'
                            });
                        }else{
                            that.$message({
                                type: 'success',
                                message: '置顶成功!'
                            });
                            that.bindData();
                        }
                    }
                });
            },

            //element表格的筛选
            filterHandler(value, row, column) {
                const property = column['property'];
                return row[property] === value;
            }

        },
        mounted() {
        },

        created() {
            this.bindData();
        }
    })
</script>
</html>